@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #16A34A;
  --secondary-color: #f1c40f;
  --text-color: #333;
  --border-color: #ccc;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  border-radius: 10px;
  cursor: pointer;
}

a {
  color: var(--primary-color);
}

button:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

button:disabled {
  background-color: var(--border-color);
  cursor: not-allowed;
}
